<div class="container-xl nav-container align-items-stretch">
	<a class="navbar-brand mt-2 mb-2" routerLink="/">
		TCloud
	</a>
	<ul class="nav h-nav text-uppercase align-items-center align-items-stretch">
		<li class="nav-item d-flex align-items-center" routerLinkActive="active">
			<a routerLink="/trending" class="nav-link d-flex align-items-center">Thịnh hành</a>
		</li>
		<li class="nav-item d-flex align-items-center" routerLinkActive="active">
			<a routerLink="/new" class="nav-link d-flex align-items-center">Mới</a>
		</li>
		<li class="nav-item d-flex align-items-center" routerLinkActive="active">
			<a routerLink="/mv" class="nav-link d-flex align-items-center">MV</a>
		</li>

	</ul>
	<div class="m-auto"></div>
	<div class="d-flex align-items-center">
		Tìm
	</div>
</div>
